:root{
    --text:#03141c;
    --background:#bdd4da;
    --primary:#8ba3f1;
    --secondary:#1da4e4;
    --salmon:#4b4ce9;
    --accent:#salmon;
    --cb:white;
}
.darkmode{

--text:#f9fdfe;
 --background:#03141c;
 --primary:#1da4e4;
 --secondary:#8ba3f1;
 --salmon:salmon;
 --accent:#4b4ce9;
 --cb:black;

}
html{
    scroll-behavior: smooth;
}
.nav-height{
    height: 100vh;
}

@font-face {                                                                                                                
    font-family: biwan;
    src: url('./659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.woff');
}
a>li{
    text-decoration: none;
    font-size: 15px;
    position: relative;
    font-weight: 500;
}
.line{
    display: inline-block;
    height: 2px;
    background-color: var(--secondary);
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}
#line1 {
    left: 0;
    width: 0%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition-delay: .1s;
}

#line2 {
    right: 0;
    width: 100%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

a>li:hover #line1 {
    width: 100%;
}

a>li:hover #line2 {
    width: 0%;
}
.round{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #000000;
}
.sidebar{
        position: absolute;
        left: -120%;
        transition: all ease 1s;
        padding: 0px;
        height: 100%;
        background-color: var(--cb);

}
.cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    position: absolute;
    transition: all linear 0.5s;
    mix-blend-mode: difference;
    z-index: 100;
    
}

#themeswitch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    right: 20px;
}

#themeswitch svg{
    fill:var(--primary)
}
#themeswitch svg:last-child{
    display: none;
}
.darkmode #themeswitch svg:first-child{
    display: none;
}
.darkmode #themeswitch svg:last-child{
    display: block;
}
.location{
    fill: var(--text)
}
#close{
    fill:var(--text)
}

.ball1 {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    filter: blur(25px);
    animation: moveDiagonal 10s infinite ease-in-out;
    bottom: 300px;
    right: 100px;
    z-index: -1;
}
.ball2 {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    filter: blur(25px);
    animation: moveDiagonal 10s infinite ease-in-out;
    bottom: 200px;
    left: 200px;
    z-index: -1;
  
}


/* Keyframes for diagonal movement */
@keyframes moveDiagonal {
    0%, 100% {
        transform: translate(0, 0); /* Original position */
    }
    50% {
        transform: translate(100px, 100px); /* Move diagonally */
    }
}
